.legal-font {
    font-family: 'EB Garamond', serif;
}

.legal-font-color {
   color: #B68C5A !important;
}

.legal-bg-color {
    background-color: #B68C5A !important;
}
.btn-legal-bg-color {
    background-color: #B68C5A !important;
}

.legal-icon {
    width: 25px;
    padding: 5px;
}