.legal-font {
    font-family: 'EB Garamond', serif;
}

.legal-font-color {
   color: #B68C5A !important;
}

.legal-bg-color {
    background-color: #B68C5A !important;
}
.btn-legal-bg-color {
    background-color: #B68C5A !important;
}

.legal-icon {
    width: 25px;
    padding: 5px;
}


.legal-person {
    position: relative;
    width: 70px;
    height: 70px;
    border: 3px solid #FFFFFF;
    border-radius: 35px;
}

.legal-background {
    filter: blur(2.5px);
}

.legal-footer-background {
    background-color: #111111;
}

.legal-list-none {
    list-style: none;
}

@media screen and (max-width: 600px) {
    .legal-button-width {
        width: 65vw !important;
    }
}